/*****************************
Section: What We Do
******************************/
#what .items {
  display: block;
  padding: 1rem;
}

#what .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
  border-radius: 5px;
}

#what .items .item:nth-child(2) {
  border: none;
}
