@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*****************************
General Styles
******************************/
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75 0;
}

/*****************************
Utilities Styles
******************************/
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #80fd6d;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #396dab;
  color: #fff;
}

.bg-primary {
  background: #80fd6d;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.btn {
  display: inline-block;
  color: #396dab;
  background: #80fd6d;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #396dab;
  color: #80fd6d;
}

.btn-inverse {
  background: #396dab;
  color: #80fd6d;
}

.btn-inverse:hover {
  background: #80fd6d;
  color: #396dab;
  border: 1px solid #396dab;
}
.btn-outline {
  color: #80fd6d;
  background: transparent;
  border: 2px solid #80fd6d;
}

.btn-outline:hover {
  color: #396dab;
  background: #80fd6d;
}

/*****************************
Navbar
******************************/
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #396dab;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a.btn-outline {
  color: #80fd6d;
}

#navbar ul li a:hover {
  background: #80fd6d;
  border-radius: 5px;
  color: #396dab;
}

/*****************************
Showcase
******************************/
#showcase {
  background: #396dab url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* overlay */
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(56, 120, 196, 0.3);
}

/*****************************
Section: What We Do
******************************/
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #80fd6d;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#what .items .item:nth-child(2) {
  border-left: #396dab solid 2px;
  border-right: #396dab solid 2px;
}

/*****************************
Section: Contact
******************************/
#contact {
  display: flex;
}

#contact .map,
#contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}
