@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*****************************
General Styles
******************************/
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75 0;
}

/*****************************
Utilities Styles
******************************/
.text-primary {
  color: #80fd6d;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #396dab;
  background: #80fd6d;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #ab3b31;
  color: #fff;
}

/*****************************
Navbar
******************************/
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #396dab;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #80fd6d;
  border-radius: 5px;
  color: #396dab;
}

/*****************************
Showcase
******************************/
#showcase {
  background: #396dab url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* overlay */
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(56, 120, 196, 0.3);
}
